<mk-box header="" [isCollapsable]="true" [isRemovable]="false">
    <mk-box-content>
        <mat-accordion>
            <mat-expansion-panel [expanded]="true" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Filtro
                    </mat-panel-title>
                    <mat-panel-description>
                        Filtros disponíveis para aplicar
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row form-group-sm">
                    <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="filtroNegociacao.nomeJogador"
                                placeholder="Nome Jogador" class="form-control">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 form-group input-group-filter">
                        <label>Overall</label>
                        <div class="input-group">
                            <mat-select [(value)]="filtroNegociacao.overRallInicial" class="form-control">
                                <mat-option *ngFor="let index of arrayOverall" [value]="index">{{index}}
                                </mat-option>
                            </mat-select>
                            <span class="input-group-addon input-group-addon-filter">Até</span>
                            <mat-select [(value)]="filtroNegociacao.overRallFinal" class="form-control">
                                <mat-option *ngFor="let index of arrayOverall" [value]="index">{{index}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 form-group"><label>Posição</label>
                        <mat-select [(value)]="filtroNegociacao.overRallFinal" class="form-control">
                            <mat-option *ngFor="let posicao of listaPosicoes" [value]="posicao.name">{{posicao.name}}
                            </mat-option>
                        </mat-select>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 form-group input-group-filter"><label>Idade</label>
                        <div class="input-group">
                            <mat-select [(ngModel)]="filtroNegociacao.idadeInicial"
                                class="form-control select2-hidden-accessible">
                                <mat-option *ngFor="let index of lista99" [value]="index">{{index}}
                                </mat-option>
                            </mat-select>
                            <span class="input-group-addon input-group-addon-filter">Até</span>
                            <mat-select [(ngModel)]="filtroNegociacao.idadeFinal"
                                class="form-control select2-hidden-accessible">
                                <mat-option *ngFor="let index of lista99" [value]="index">{{index}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <div class="alert alert-danger">
                <span class="text" >Debug de filtro</span> <br>
                {{filtroNegociacao | json}}
            </div>
            <mat-expansion-panel [expanded]="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Filtros Avançados
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <div class="row form-group-sm">
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label>Time Liga</label>
                            <mat-select [(ngModel)]="filtroNegociacao.idTimeLiga"
                                class="form-control select2-hidden-accessible">
                                <mat-option *ngFor="let time of timeLiga" [value]="time.id">{{time.name}}
                                </mat-option>
                            </mat-select>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label>Time Jogo</label>
                            <mat-select [(ngModel)]="filtroNegociacao.idTimeEscudo"
                                class="form-control select2-hidden-accessible">
                                <mat-option *ngFor="let time of timeJogo" [value]="time.id">{{time.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label>Filtrar Por</label>
                            <mat-select [(ngModel)]="filtroNegociacao.habilidade" (selectionChange)="obterTextoMatSelect($event)"
                                class="form-control select2-hidden-accessible">
                                <mat-option *ngFor="let hab of listaHabilidades" [value]="hab.id">{{hab.name}}
                                </mat-option>
                            </mat-select>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group input-group-filter">
                            <label>&nbsp;</label>
                            <div class="input-group">
                                <mat-select [(ngModel)]="filtroNegociacao.habilidadeInicial"
                                    class="form-control select2-hidden-accessible">
                                    <mat-option *ngFor="let index of lista99" [value]="index">{{index}}
                                    </mat-option>
                                </mat-select>
                                <span class="input-group-addon input-group-addon-filter">Até</span>
                                <mat-select [(ngModel)]="filtroNegociacao.habilidadeFinal"
                                    class="form-control select2-hidden-accessible">
                                    <mat-option *ngFor="let index of lista99" [value]="index">{{index}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                    </div>
                    <div class="row form-group-sm">
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label>Disp. compra na multa</label>
                            <mat-select [(ngModel)]="filtroNegociacao.comprarNaMulta"
                                class="form-control select2-hidden-accessible">
                                <mat-option *ngFor="let sn of listaSimNao" [value]="sn.id">{{sn.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label>Contrato</label>
                            <mat-select [(ngModel)]="filtroNegociacao.contrato"
                                class="form-control select2-hidden-accessible">
                                <mat-option *ngFor="let sn of listaSimNao" [value]="sn.id">{{sn.name}}
                                </mat-option>
                            </mat-select>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label>Empréstimo</label>
                            <mat-select [(ngModel)]="filtroNegociacao.emprestimo"
                                class="form-control select2-hidden-accessible">
                                <mat-option *ngFor="let sn of listaSimNao" [value]="sn.id">{{sn.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 form-group input-group-filter">
                            <label>Passe</label>
                            <div class="input-group">
                                <!-- <input matInput type="text" 
                                placeholder="000" class="form-control"> -->
                                <input class="form-control" [(ngModel)]="filtroNegociacao.passeInicial">
                                <span class="input-group-addon input-group-addon-filter">Até</span>
                                <!-- <input matInput type="text" 
                                placeholder="000" > -->
                                <input class="form-control" [(ngModel)]="filtroNegociacao.passeFinal">
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-1">
                        <mat-icon aria-hidden="false">attach_money</mat-icon>
                    </div>
                    <div class="col-md-3">
                        <div class="panel-text ">
                            <small><b>Dinheiro Atual</b></small>
                            <br>
                            <span><b>R$ 163.196,00</b></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel-text ">
                            <small><b>Salário</b></small>
                            <br>
                            <span><b>R$ 1.350,00</b></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel-text ">
                            <small><b>Saldo</b></small>
                            <br>
                            <span><b>R$ 161.846,00</b></span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="row ">
                        <div class="col-xs-12">
                            <div class="panel panel-filled">
                                <div class="panel-body flex">
                                    <div>
                                        <div class="panel-icon"><i class="fa fa-money text-warning"></i></div>
                                    </div>
                                    <div class="flex-wrap">
                                        <div class="panel-text "><small>Dinheiro Atual</small>
                                            <span>163.196,00</span></div>
                                        <div class="panel-text ">
                                            <small>Salário</small>
                                            <span>1.350,00</span></div>

                                        <div class="panel-text "><small>Saldo</small>
                                            <span>161.846,00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </mk-box-content>
    <mk-box-footer>
        <button (click)="buscar()" mat-raised-button color="primary">Buscar</button>
    </mk-box-footer>
</mk-box>
<mk-box header="Lista Jogadores" [isCollapsable]="false">
    <mk-box-content>
        <app-grid-view [colunas]="colunas" [usarIMG]="true" [acoes]="acoes" [dadosTabela]="dadosTabela"></app-grid-view>
    </mk-box-content>

</mk-box>