.example-container {
  overflow: auto;
  background-color: white;
}

.mat-icon-button{
  width: auto;
  height: auto;
  padding-right: 5px;
}

.mat-header-row, .mat-footer-row, .mat-row {
  min-width: 1200px; /* 24 columns, 80px each */
}

.imgjogador{
  width: 40px;
  height: 40px;
}
