<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/"><b>Admin</b> Get Jogos</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Faça login para iniciar sua sessão</p>

      <form [formGroup]="loginForm" action="/" method="post">
        <div class="form-group has-feedback">
          <input type="email" class="form-control"  formControlName="email" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <span *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)">
            <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>
            <span class="text-danger">E-mail inválido.</span>
          </span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" formControlName="password"  placeholder="Senha">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <span class="text-danger" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">Campo obrigatório.</span>
        </div>
        <div class="row">
          <div class="col-xs-8">
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" (click)="onLogar()" [disabled]="loginForm.invalid" class="btn btn-primary btn-block btn-flat">Entrar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>


      <!-- /.social-auth-links -->
      <a routerLink="/register" class="text-center">Realizar cadastro</a>

    </div>
    <!-- /.login-box-body -->
  </div>
</div>
