<mk-box header="Filtro Avançado" [isCollapsable]="true" [isRemovable]="false">
  <mk-box-content>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Ex. pat@example.com" [(ngModel)]="filtroNome">
          <mat-hint>Busca pelo id ou pelo nome</mat-hint>
        </mat-form-field>
      </div>
    </div>

  </mk-box-content>
  <mk-box-footer>
    <button (click)="buscar()" mat-raised-button color="primary">Buscar</button>
  </mk-box-footer>
</mk-box>

<mk-box header="Lista de empréstimos" [isCollapsable]="false">
  <mk-box-tools>
    <button mat-raised-button (click)="adicionar()" color="primary">Novo</button>
  </mk-box-tools>
  <mk-box-content>
    <app-grid-view [colunas]="colunas" [acoes]="acoes" [dadosTabela]="dadosTabela"></app-grid-view>
  </mk-box-content>

</mk-box>