<ng-container *ngIf="customLayout; else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper>
    <mk-layout-header logoLink="/">
      <mk-layout-header-logo><b>Get Jogos</b></mk-layout-header-logo>
      <mk-layout-header-logo-mini><b>A</b>LTE</mk-layout-header-logo-mini>
      <app-header-inner></app-header-inner>
    </mk-layout-header>
    <mk-layout-sidebar-left>
      <app-sidebar-left-inner></app-sidebar-left-inner>
    </mk-layout-sidebar-left>
    <mk-layout-sidebar-right>
      <app-sidebar-right-inner></app-sidebar-right-inner>
    </mk-layout-sidebar-right>
    <mk-layout-content>
      <div mk-layout-content-before-header>
        <div *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
          <mk-material-bar></mk-material-bar>
        </div>
      </div>
      <router-outlet></router-outlet>
      <app-loader></app-loader>
    </mk-layout-content>
    <mk-layout-footer>
      <mk-layout-footer-left>
        <!-- <strong>Powered by <a href="http://almsaeedstudio.com">AdminLte</a>.</strong> -->
      </mk-layout-footer-left>
      <mk-layout-footer-right>
        <!-- <b>Version</b> 2.4.2 -->
      </mk-layout-footer-right>
    </mk-layout-footer>
  </mk-layout-wrapper>
</ng-template>
