.full-width {
    width: 100%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .flag-margin {
    margin: 0 10px;
  }
  .width-card {
    max-width: 400px;
  }
  .card-width {
    max-width: 400px;
    max-height: 400px;
  }
