<mk-box [header]="tituloPagina" [isCollapsable]="false">
    <mk-box-content>
        <form [formGroup]="frmNegociacao">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <mk-alert *ngIf="existeErroForm" [dismissOnTimeout]="10000" backgroundColor="danger">
                        <h4>
                            <i class="icon fa fa-ban"></i>
                            Atenção
                        </h4>
                        Encontrado alguma divergencias. Favor reveja os valores informados.
                    </mk-alert>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-label>Dono:</mat-label>
                        <input matInput type="text" readonly formControlName="nomeJogador">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-label>Passe:</mat-label>
                        <input matInput type="number" readonly formControlName="valorPasse">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <mat-label>Tipo contrato:</mat-label>
                        <input matInput type="text" readonly formControlName="statusDescricao">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <mat-label>Usuário</mat-label>
                        <mat-select formControlName="member">
                            <mat-option *ngFor="let user of listaUsuario" [value]="user.id">{{user.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <mat-label>Valor Mínimo:</mat-label>
                        <input matInput type="text" readonly formControlName="valorMinimo">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <mat-label>Valor:</mat-label>
                        <input matInput type="number" formControlName="valorPadrao">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width">
                        <mat-label>Observações</mat-label>
                        <textarea matInput placeholder="Notas" rows="5" cols="12"
                            formControlName="observacao"></textarea>
                    </mat-form-field>
                </div>
                <!-- {{negociacaoModel | json}} -->
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
                <a mat-raised-button mat-dialog-close matTooltip="Fechar contratação">
                    <span>Cancelar</span>
                </a>
                <button (click)="salvar()" mat-raised-button color="primary">
                    Contratar
                </button>
            </div>
        </div>
    </mk-box-content>
</mk-box>