<mk-box [header]="'Cadastro de Jogos'" [isCollapsable]="false">
    <mk-box-tools>
        <div class="row">
            <div class="col-md-6">
                <a mat-raised-button (click)="voltarPagina()" matTooltip="Voltar para lista">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <span>Voltar</span>
                </a>
            </div>
            <div class="col-md-6"><button (click)="salvar()" mat-raised-button color="primary">Salvar</button></div>
        </div>
    </mk-box-tools>

    <mk-box-content>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <mk-alert *ngIf="existeErro" [dismissOnTimeout]="10000" backgroundColor="danger">
                    <h4>
                        <i class="icon fa fa-ban"></i>
                        Atenção
                    </h4>
                    Encontrado alguma divergencias. Favor reveja os valores informados.
                </mk-alert>
            </div>
        </div>

            <form [formGroup]="jogosForm">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <mat-label>Nome</mat-label>
                                <input matInput maxlength="200" formControlName="nome" placeholder="Nome">
                                <mat-error>
                                    Nome é <strong>obrigatorio</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <label class="flag-margin">Estilo Jogos:</label>
                                <mat-select formControlName="estiloJogo">
                                    <mat-option *ngFor="let jogos of estiloJogos" [value]="jogos.id">{{jogos.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    Estilo de jogo é <strong>obrigatorio</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full-width">
                                <mat-label>Observação</mat-label>
                                <textarea matInput placeholder="Digite as observações" rows="5" cols="20"
                                    formControlName="observacao"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>

    </mk-box-content>
</mk-box>