<mk-box [header]="tituloPagina" [isCollapsable]="false">
  <mk-box-tools>
    <div class="row">
      <div class="col-md-6">
        <a mat-raised-button (click)="voltarPagina()" matTooltip="Voltar para lista">
          <mat-icon>keyboard_backspace</mat-icon>
          <span>Voltar</span>
        </a>
      </div>
      <div class="col-md-6"><button (click)="salvar()" mat-raised-button color="primary">Salvar</button></div>
    </div>
  </mk-box-tools>

  <mk-box-content>

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <mk-alert *ngIf="existeErroForm" [dismissOnTimeout]="10000" backgroundColor="danger">
          <h4>
            <i class="icon fa fa-ban"></i>
            Atenção
          </h4>
          Encontrado alguma divergencias. Favor reveja os valores informados.
        </mk-alert>
      </div>
    </div>

    <mat-tab-group dynamicHeight="true">
      <mat-tab label="Dados Pessoais">
        <form [formGroup]="frmmembro">
          <input type="hidden" formcontrolName="id" />
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Ex. pat@example.com" formControlName="name">
              </mat-form-field>
              <!-- <mat-error >
                Nome é <strong>obrigatório</strong>
              </mat-error>              -->
            </div>

            <div class="col-md-3">
              <mat-form-field class="full-width">
                <mat-label>E-mail</mat-label>
                <input matInput email placeholder="E-mail" formControlName="email">
              </mat-form-field>
            </div>

            <div class="col-md-2">
              <mat-form-field class="full-width">
                <mat-label>Celular</mat-label>
                <input matInput tel placeholder="Celular" formControlName="mobile">
              </mat-form-field>
            </div>

            <div class="col-sm-1">
              <mat-form-field class="full-width">
                <mat-label>Sexo</mat-label>
                <mat-select [(value)]="membroModel.gender" formControlName="gender">
                  <mat-option *ngFor="let se of sexo" [value]="se.id">{{se.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2" style="margin-top: 14px;">
              <mat-radio-group formControlName="active">
                <mat-radio-button [checked]="true" [value]="true">Ativo</mat-radio-button>
                <mat-radio-button [value]="false">Inativo</mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <div class="row">
            <div class="col-md-1">
              <mat-form-field class="full-width">
                <mat-label>Estado</mat-label>
                <mat-select [(value)]="membroModel.estadoId" formControlName="estadoId"
                  (selectionChange)="obterCidadePorIdEstado($event)">
                  <mat-option *ngFor="let estado of estados" [value]="estado.id">{{estado.uf}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="full-width">
                <mat-label>Cidade</mat-label>
                <mat-select [(value)]="membroModel.cidadeId" formControlName="cidadeId">
                  <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="full-width">
                <mat-label>Tipo usuário</mat-label>
                <mat-select [(value)]="membroModel.levelId" formControlName="levelId">
                  <mat-option *ngFor="let level of listaLevel" [value]="level.id">{{level.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <div class="btn btn-link">
                <input type="file" id="uploadimage" #file accept="image/*" class="custom-file-input" (change)="onFileChange($event)">
              </div>
            </div>
            <div class="col-md-1" style="margin-top: 10px;margin-left: 150px;">
              <mat-icon matSuffix *ngIf="membroModel.carregouImagem">check_circle_outline</mat-icon>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="full-width">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="Ex. pat@example.com" formControlName="username">
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="full-width">
                <mat-label>Senha</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput password placeholder="Senha"
                  formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="full-width">
                <mat-label>confirmar senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" password placeholder="Senha"
                  formControlName="confirmPassword" (keyup)="validarSenha()">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div *ngIf="mostrarMensagemSenha" class="alert alert-danger" role="alert">
                A confirmação deve ser igual
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-6" *ngIf="this.base64Image !== '' " >
              <mat-card class="card-width">
                <mat-card-header>
                  <div mat-card-avatar></div>
                  <mat-card-title>Pré visualização da imagem</mat-card-title>
                  <mat-card-subtitle>nome da imagem {{nomeImagemPrevisualizacao}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image #preview
                  src="{{base64Image}}" alt="{{nomeImagemPrevisualizacao}}">
              </mat-card>
            </div>
            
            <div class="col-md-6" *ngIf="this.membroModel.image !== '' ">
              <mat-card class="card-width">
                <mat-card-header>
                  <div mat-card-avatar></div>
                  <mat-card-title>Imagem cadastrada</mat-card-title>
                  <mat-card-subtitle>nome da imagem {{this.membroModel.image}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image 
                  src="{{urlImagemMembro}}" alt="{{this.membroModel.name}}">
              </mat-card>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Dados Jogador">
        <form [formGroup]="frmmembro">
          <div class="row">
            <div class="col-md-2">
              <mat-form-field class="full-width">
                <mat-label>Tipo de Conta</mat-label>
                <mat-select formControlName="account">
                  <mat-option *ngFor="let conta of tipoContaJogo" [value]="conta.id">{{conta.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-2">
              <mat-form-field class="full-width">
                <mat-label>Código Patrocínio</mat-label>
                <input matInput placeholder="código patrocínio" formControlName="sponsorship">
              </mat-form-field>
            </div>

            <div class="col-md-2">
              <mat-form-field class="full-width">
                <mat-label>Status inscrição</mat-label>
                <mat-select formControlName="subscription">
                  <mat-option *ngFor="let ins of statusInscricao" [value]="ins.id">{{ins.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="full-width">
                <mat-label>Escudo</mat-label>
                <mat-select formControlName="escudoId">
                  <mat-option *ngFor="let escudo of escudos" [value]="escudo.id">{{escudo.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="full-width">
                <mat-label>Divisão jogador</mat-label>
                <mat-select formControlName="division">
                  <mat-option *ngFor="let divisao of divisaoJogador" [value]="divisao.id">{{divisao.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <mat-form-field class="full-width">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput maxlength="10" [matDatepicker]="picker" formControlName="dateOfBirth"
                  placeholder="Data de nascimento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="isControlHasError('dtNascimento','required')">
                Data de nascimento
                <strong>obrigátorio</strong>
              </mat-error>
            </div>
            <div style="margin-top: 12px;">
              <div class="col-md-2">
                <mat-checkbox formControlName="proNegotiate">Proibido Negociar</mat-checkbox>
              </div>
              <div class="col-md-2">
                <mat-checkbox formControlName="proSteals">Proibido ser Roubado</mat-checkbox>
              </div>
              <div class="col-md-2">
                <mat-checkbox formControlName="proUserStealing">Proibir usuário de Roubar</mat-checkbox>
              </div>
            </div>
          </div>

        </form>
      </mat-tab>

      <mat-tab label="Observações">
        <form [formGroup]="frmmembro">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Notas" rows="5" cols="12" formControlName="grades"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Observações" rows="5" cols="12"
                  formControlName="observation"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>

      </mat-tab>

    </mat-tab-group>

  </mk-box-content>

  <!-- <div class="row">
    <div class="col-md-3">
      <button mat-raised-button  (click)="salvar()" color="primary">Salvar</button>
    </div>
    <div class="col-md-3">
      <button mat-raised-button  (click)="voltarPagina()" color="warn">Cancelar</button>
    </div>
  </div> -->

</mk-box>