<mk-box [header]="'Cadastro de amigos'" [isCollapsable]="false">
    <mk-box-tools>
        <div class="row">
            <div class="col-md-6">
                <a mat-raised-button (click)="voltarPagina()" matTooltip="Voltar para lista">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <span>Voltar</span>
                </a>
            </div>
            <div class="col-md-6"><button (click)="salvar()" mat-raised-button color="primary">Salvar</button>
            </div>
        </div>
    </mk-box-tools>

    <mk-box-content>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <mk-alert *ngIf="existeErro" [dismissOnTimeout]="10000" backgroundColor="danger">
                    <h4>
                        <i class="icon fa fa-ban"></i>
                        Atenção
                    </h4>
                    Encontrado alguma divergencias. Favor reveja os valores informados.
                </mk-alert>
            </div>
        </div>
        <div *ngIf="true" style="padding-top: 10px;">
            <form [formGroup]="amigoForm">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>*Nome</mat-label>
                            <input matInput maxlength="200" formControlName="nome" placeholder="Nome">
                            <mat-error>
                                Nome é <strong>obrigatorio</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <mat-label>Sexo</mat-label>
                            <mat-select [(value)]="amigoModel.sexo" formControlName="sexo">
                                <mat-option *ngFor="let se of sexo" [value]="se.id">{{se.name}}</mat-option>
                            </mat-select>
                            <mat-error>
                                Sexo é <strong>obrigatorio</strong>
                            </mat-error>                            
                        </mat-form-field>
                    </div>                    
                </div>
            </form>
        </div>
    </mk-box-content>
</mk-box>