<div class="progress-loader" [hidden]="!show">
  <div class="loading-spinner">
      <mat-spinner style="align-self: end;"></mat-spinner>
      <span class="loading-message">Carregando...</span>
  </div>
</div>