<div class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a routerLink="/"><b>Admin</b>Get Jogos</a>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Registar Novo Usuário</p>

      <form method="post" action="/">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Nome completo"  [(ngModel)]="modelo.nome"  name="nome" >
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="modelo.email" name="email" >
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="modelo.senha" name="senha" >
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Confirmar senha" [(ngModel)]="modelo.confirmarsenha" name="confirmarsenha" >
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" (click)="registarUser()" class="btn btn-primary btn-block btn-flat">Registrar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div>
</div>
