<mk-box [header]="tituloPagina" [isCollapsable]="false">
  <mk-box-tools>
    <div class="row">
      <div class="col-md-6">
        <a mat-raised-button (click)="voltarPagina()" matTooltip="Voltar para lista">
          <mat-icon>keyboard_backspace</mat-icon>
          <span>Voltar</span>
        </a>
      </div>
      <div class="col-md-6"><button (click)="Salvar()" mat-raised-button color="primary">Salvar</button></div>
    </div>
  </mk-box-tools>

  <mk-box-content>

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <mk-alert *ngIf="existeErro" [dismissOnTimeout]="10000" backgroundColor="danger">
          <h4>
            <i class="icon fa fa-ban"></i>
            Atenção
          </h4>
          Encontrado alguma divergencias. Favor reveja os valores informados.
        </mk-alert>
      </div>
    </div>

    <mat-tab-group dynamicHeight="true">
      <mat-tab label="Dados">
        <ng-template matTabContent>
          <div *ngIf="liga" style="padding-top: 10px;">
            <form [formGroup]="ligaForm">
              <div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <mat-label>*Nome</mat-label>
                      <input matInput maxlength="200" formControlName="name" placeholder="Nome">
                      <mat-error>
                        Nome é <strong>obrigatorio</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <mat-label>Data de Cadastro</mat-label>
                      <input matInput maxlength="200" [matDatepicker]="picker" formControlName="dataInitial"
                        placeholder="Nome">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Observações" rows="5" formControlName="observation"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <label class="flag-margin">Status:</label>
                    <mat-radio-group formControlName="flagActive">
                      <mat-radio-button [value]="1">Ativo</mat-radio-button>
                      <mat-radio-button [value]="0">Inativo</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Upload">
        <ng-template matTabContent>
          <div *ngIf="liga" style="padding-top: 10px;">
            <form [formGroup]="ligaForm">
              <div>
                <div class="row">
                  <div class="col-md-6" *ngIf="this.base64Image !== '' ">
                    <mat-card class="card-width">
                      <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>Pré visualização da imagem</mat-card-title>
                        <mat-card-subtitle>nome da imagem {{nomeImagemPrevisualizacao}}</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image #preview src="{{base64Image}}" alt="{{nomeImagemPrevisualizacao}}">
                    </mat-card>
                  </div>
                  <div class="col-md-6" *ngIf="this.liga.image !== '' ">
                    <mat-card class="card-width">
                      <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>Imagem cadastrada</mat-card-title>
                        <mat-card-subtitle>nome da imagem {{this.liga.image}}</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="{{urlImagem}}" alt="{{this.liga.name}}">
                    </mat-card>
                  </div>
                </div>
                <div style="padding-top: 25px;" class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4" style="text-align: center;">
                    <input #file style="display: none;" accept="image/*" type="file" placeholder="Upload Imagem"
                      (change)="onFileChange($event)" formControlName="image">
                    <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="file.click()"
                      mat-raised-button matTooltip="Enviar Imagem">
                      <span mat-raised-button color="primary">Enviar imagem</span>
                    </a>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </mat-tab>

    </mat-tab-group>

  </mk-box-content>

</mk-box>